:root {
  --color-light: #ffffff;
  --color-dark: #202020;
  --color-alt: #383838;

  --color-primary: #ff3838;
  --color-primary-light: #ff6c6c;
  --color-primary-dark: #f02c2c;

  --color-secondary: #eef4ed;
  --color-secondary-light: #ffffff;
  --color-secondary-dark: #b3b3b3;

  --color-accent: #f7b32b;
  --color-accent-light: #ffea9e;
  --color-accent-dark: #c78300;

  --color-text: #000000;
  --color-text-alt: #4a4a4a;
  --color-text-light: #ffffff;
  --color-text-dark: #d6d6d6;

  --space-small: 5px;
  --space-medium: 8px;
  --space-regular: 12px;
  --space-large: 20px;
  --space-xlarge: 40px;
  --space-x2large: 60px;

  --space-vertical: var(--space-xlarge);
  --space-horizontal: var(--space-xlarge);

  --space-padding: var(--space-vertical) var(--space-horizontal);

  --breakpoint-desktop: 1200px;
  --breakpoint-tablet: 900px;
  --breakpoint-mobile: 700px;

  --max-content-width: 1200px;

  --background: #f5f5f5;
  --background-alt: #383838;
  --background-light: #ffffff;
  --background-dark: #181818;

  --border-color: #e5e6eb;

  --border-radius: 4px;
  --border: 1px solid var(--border-color);
  --border-hover: 1px solid var(--border-color);
  --border-focus: 1px solid var(--color-primary);

  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  --box-shadow-hover: 0px 2px 2px rgba(0, 0, 0, 0.1);
  --box-shadow-focus: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

:root [data-theme="dark"] {
  --background: #000000;
}

@media screen and (max-width: 900px) {
  :root {
    --space-vertical: var(--space-xlarge);
    --space-horizontal: var(--space-large);
  }
}

@media screen and (max-width: 600px) {
  :root {
    --space-vertical: var(--space-large);
    --space-horizontal: var(--space-medium);
  }
}

html {
  background: var(--background);
}
