:root {
  --color-light: #ffffff;
  --color-dark: #202020;
  --color-alt: #444444;

  --color-primary: #fc4343;
  --color-primary-light: #ff8585;
  --color-primary-dark: #eb3838;

  --color-secondary: #eef4ed;
  --color-secondary-light: #ffffff;
  --color-secondary-dark: #b3b3b3;

  --color-accent: #f7b32b;
  --color-accent-light: #ffea9e;
  --color-accent-dark: #c78300;

  --color-text: #000000;
  --color-text-alt: #979797;
  --color-text-light: #ffffff;
  --color-text-dark: #c5c5c5;

  --space-small: 5px;
  --space-medium: 8px;
  --space-regular: 12px;
  --space-large: 20px;
  --space-xlarge: 40px;
  --space-x2large: 60px;

  --space-vertical: var(--space-xlarge);
  --space-horizontal: var(--space-xlarge);

  --space-padding: var(--space-vertical) var(--space-horizontal);

  --breakpoint-desktop: 1200px;
  --breakpoint-tablet: 900px;
  --breakpoint-mobile: 700px;

  --max-content-width: 1200px;

  --background: #f5f5f5;
  --background-alt: #252525;
  --background-light: #ffffff;
  --background-dark: #181818;

  --border-color: #d6d6d6;

  --border-radius: 4px;
  --border: 1px solid var(--border-color);
  --border-hover: 1px solid var(--border-color);
  --border-focus: 1px solid var(--color-primary);

  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  --box-shadow-hover: 0px 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-focus: 0px 2px 8px rgba(0, 0, 0, 0.15);

  --background-header: #ffffff;

  --background-card: #ffffff;
  --background-card-alt: #f5f5f5;
  --background-card-button: #ffffff;
  --background-card-button-hover: #f5f5f5;
  --background-card-button-text: #666666;

  --disable: #f1f1f1;
  --disable-text: #a3a3a3;
  --disable-border: 1px solid #d6d6d6;

  --mix-blend-mode: normal;
}

:root[data-theme="dark"] {
  --color-light: #202020;
  --color-dark: #ffffff;
  --color-alt: #b3b3b3;

  --color-primary: #da4646;
  --color-primary-light: #ff6767;
  --color-primary-dark: #ca3838;

  --color-secondary: #444444;
  --color-secondary-light: #b3b3b3;
  --color-secondary-dark: #202020;

  --color-accent: #c78300;
  --color-accent-light: #ffea9e;
  --color-accent-dark: #f7b32b;

  --color-text: #ffffff;
  --color-text-alt: #d6d6d6;
  --color-text-light: #ffffff;
  --color-text-dark: #979797;
  --color-text-gray: #242424;

  --background: #2e2e2e;
  --background-alt: #1a1a1a;
  --background-light: #363636;
  --background-dark: #111111;

  --background-card: #202020;
  --background-card-alt: #fafafa;
  --background-card-button: #2e2e2e;
  --background-card-button-hover: #1a1a1a;
  --background-card-button-text: #d4d4d4;

  --border-color: #1d1d1d;
  --background-header: #1f1f1f;

  --mix-blend-mode: exclusion;
}

@media screen and (max-width: 900px) {
  :root {
    --space-vertical: var(--space-xlarge);
    --space-horizontal: var(--space-large);
  }
}

@media screen and (max-width: 600px) {
  :root {
    --space-vertical: var(--space-large);
    --space-horizontal: var(--space-medium);
  }
}

html {
  background: var(--background);
}
