:root {
  --color-primary: #134074;
  --color-primary-light: #1b5e9e;
  --color-primary-dark: #0c2c4b;

  --color-secondary: #eef4ed;
  --color-secondary-light: #ffffff;
  --color-secondary-dark: #b3b3b3;

  --color-accent: #f7b32b;
  --color-accent-light: #ffea9e;
  --color-accent-dark: #c78300;

  --background: #f0f2f5;
  --background-header: #ffffff;
  --border-color: #e5e6eb;
  --border: 1px solid var(--border-color);
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  --text-color: #000000;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
}

:root [data-theme="dark"] {
  --background: #000000;
}

html {
  background: var(--background);
}
